version: "3.9"

services:
  mongo:
    image: mongo:7
    container_name: techrush-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  app:
    image: ashutosh9906/techrush-hackathon:latest
    ports:
      - "${PORT}:${PORT}"
    env_file:
      - .env
    depends_on:
      - mongo

volumes:
  mongo_data:
