<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="homepage_style.css">
    <title>BURST</title>
</head>
<body>
    <img class="image-gradient" src="gradient.png" alt="gradient">
    <div class="layerblur"></div>

    <div class="container">
        <header>
             <h1 class="logo"><!--<img src="Brust logo.png">-->Brust</h1> 
            <nav>
                <a href="#">HOME</a>
                <a href="#">CATEGORIES</a>
                <a href="#">PROFILE</a>
                <a href="#">CART</a>
            </nav>
        </header>

        <main>
            <div class="content">
                <div class="tag-box">
                    <div class="tag">INTRODUCING</div>
                </div>
                <h1>THE<br>THUNDERSTRIKE</h1>
                <p class="description">
                    crazy ass bass with 60Hrs playback and ultimate <br>noise cancellation
                </p>
                <div class="buttons">
                    <a href="#" class="learn-more">learn more</a>
                </div>
            </div>
        </main>
    </div>
    <!-- <script type="module" src="https://unpkg.com/@splinetool/viewer@1.10.38/build/spline-viewer.js"></script>
    <spline-viewer url="https://prod.spline.design/zFXFSvy9a66uD75C/scene.splinecode"></spline-viewer> -->
    
</body>
</html>